// bg color
$bg1: #1ccc54;

//text color 
$tc1: #333;
$tc2: #666;
$tc3: #999;
$tc4: #fff;


//border-color 
$bc1: #888;

//font-size
$ft14: 14px;
$ft16: 16px;
$ft18: 18px;
$ft20: 20px;
$ft24: 24px;
$ft30: 30px;

//font-weight 
$fw: normal;
$fw400: 400;
$fw500: 500;
$fw600: 600;
